body {
    background-color: #dc143c;
}
div#page {
    padding: 0;
}
div#header {
    width: 1180px;
}
div#header .logo {
    color: #000080;
    font-weight: bold;
    font-size: 120%;
}
div#header .item {
    float: right;
    margin-left: 16px;
}
div#main {
    float:left;
    background-color: white;
    width: 800px;
    border-bottom: 10px solid green;
}
#main.body {
    padding: 8px;
}
#main h1 {
    background-color: #ffc0cb;
    padding: 4px;
    font-size: 130%;
    color: #dc143c;
    margin: 0;
}
.timestamp {
    font-size: small;
    white-space: nowrap;
}
div#menus {
    margin-right:20px;
    float:left;
    width: 144px;
    padding: 8px;
}
div#menus h2 {
    font-size: 110%;
    font-weight: bold;
    color: #90ee90;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #90ee90;
}
div#header a {
    color: #90ee90;
}
div#menus a {
    color: #FFC0CB;
}
div#menus li {
    color: #FFC0CB;
}
div#footer {
    text-align: right;
    color: white;
    font-size: small;
    width: 1180px;
}
h1 {
    margin: 0;
}
.pagination {
    text-align: center;
}
label.required {
    color: #DC143C;
}
.formGroup {
    border: 1px solid #aaaaaa;
    padding: 4px;
    margin: 4px 0 4px 0;
}
h2 {
    margin: 0;
    font-size: 120%;
    border-left: 10px solid #b7e29d;
    color: #65ab31;
    padding-left: 8px;
}
div.fieldWithErrors {
    display: inline;
}
.fieldWithErrors input {
    background-color: #ffff88
}
.inlineField {
    float: left;
    width: 350px;
}
.clearInlineField {
    clear: left;
}
input.amountField {
    text-align: right;
}
/* show */
td.itemName {
    width: 300px;
}
.itemName .description {
    padding-left: 10px;
    font-size: 80%;
}
td.amount {
    width: 140px;
    text-align: right;
}
td.quantity {
    width: 40px;
    text-align: right;
}
td.itemDescription {
    width: 300px;
}
div.showArea {
    padding: 4px;
}
.showArea h2 {
    margin: 8px 0 4px 0;
}


/* table */
table.book {
    border-collapse: collapse;
    background-color: #ffffff;
    border: 2px solid #d0e4d8;
}
table.book th {
    background-color: #e0f4e8;
    border: 1px solid #e0f4e8;
    padding: 2px;
    color: #607468;
}
table.book td {
    background-color: #ffffff;
    border: 1px solid #d0e4d8;
    padding: 2px;
}

/* buttons */
a.button {
    display: block;
    width: 100px;
    margin: 4px;
    background-color: #e0f4e8;
    border: 1px solid #d0e4d8;
    color: #002200;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}
ul.operationButtons li.button {
    float:left;
}
ul.operationButtons, ul.listButtons {
    list-style: none;
}
ul.listButtons li.button {
    float: right;
}
ul.listButtons a.button {
    font-size: 80%;
    width: 70px;
}
div.listItem {
    border-bottom: 1px solid #d0e4d8;
    padding: 4px;
}
div.listItem div.listTitle {
    font-size: 110%;
}
.code {
    color: #558855;
    font-size: 90%;
    font-weight: bold;
}
