<h1><%= format_bill(@bill)%>の編集</h1>

<div id="form_area">
<%= render :partial => "form" %>
</div>

<ul class="operationButtons">
  <li class="button"><%= link_to "詳細へ", @bill, :class=>"button" %></li>
  <li class="button"><%= link_to "一覧へ", bills_path,:method => :get, :class=>"button" %></li>
</ul>