<p>
  <b>Name:</b>
  <%=h @numbering_reset_type.name %>
</p>

<p>
  <b>Script:</b>
  <%=h @numbering_reset_type.script %>
</p>


<%= link_to 'Edit', edit_numbering_reset_type_path(@numbering_reset_type) %> |
<%= link_to 'Back', numbering_reset_types_path %>
